body {
    height: 100vh;
    box-sizing: border-box;
    margin: 0px;
    border-width: 1px;
    border-color: yellow;
    border-style: solid;
    background-color: beige;
}

h1 {
    display: flex;
    margin-top: 0px;
    font-size: large;
}
h1>div {
    background-color: aqua;
    flex-grow: 1;
    display: flex;
}
h1 img {
    object-fit: contain;
    width: 24px;
}

.dropZone {
    width: 100px;
    height: 60px;
    margin-bottom: 5px;
    background-color: aqua;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(56, 56, 56);
        color: lightgray;
    }
}