.ionide
.vs
WebWindowNetCore/bin
WebWindowNetCore/obj
Windows/WebWindow/bin
Windows/WebWindow/obj
Linux/WebWindow/bin
Linux/WebWindow/obj
Tests/HelloWebView/bin
Tests/HelloWebView/obj
Tests/WebViewFromResource/bin
Tests/WebViewFromResource/obj
Tests/WebViewNative/bin
Tests/WebViewNative/obj

Tests/TestAppWebServer/bin
Tests/TestAppWebServer/obj

