.ionide
.vs
TestApp/bin
TestApp/obj
WebWindowNetCore/bin
WebWindowNetCore/obj
Windows/WebWindow/bin
Windows/WebWindow/obj
Linux/WebWindow/bin
Linux/WebWindow/obj
TestAppWindows/bin/
TestAppWindows/obj/
TestAppNative/bin
TestAppNative/obj
TestAppRes/bin
TestAppRes/obj
TestAppWebServer/bin
TestAppWebServer/obj
