.ionide
TestApp/bin
TestApp/obj
WebWindowNetCore/bin
.vs
Native/WebWindowNetCore.Windows/bin
Native/WebWindowNetCore.Windows/obj
WebWindowNetCore/obj
Native/WebWindowNetCore.Linux/bin
Native/WebWindowNetCore.Linux/obj
