body
{
    font-family: sans-serif;
    margin: 50px;
    text-align: justify;
    -moz-hyphens: auto;
    -o-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}
h1
{
    font-weight: normal;
    text-align: center;
    margin-bottom: 50px;
}
.input
{
    width: 100%;
    display: table;
}
.label
{
    display: table-cell;
    width: 1px;
    white-space:nowrap;
    padding-right: 10px;
}

.underline
{
    display: table-cell;
}
.underlineOnly
{
    display: table-cell;
    text-align: right;
    width: 200px;
}
.underlineOnlyTina
{
    display: table-cell;
    text-align: right;
    width: 350px;
}
.description
{
    text-align: right;
}
.vertispace
{
    margin-bottom: 90px;
}
#Entgelt
{
    display: inline-block;
    width: 80px;
}
#Beginn
{
    display: inline-block;
    width: 140px;
}
#leftInput
{
    display: table-cell;
    width: 200px;
    white-space:nowrap;
    padding-right: 10px;
}
#UnterschriftTina
{
    text-align: right;
    display: table-cell;
}

.underline, .underlineOnly, .underlineOnlyTina, #Entgelt, #Beginn, #leftInput
{
    border-color: silver;
    border-bottom: dotted;
    border-bottom-width: 1px;
}
.description, #UnterschriftNutzer, #UnterschriftTina
{
    font-style: italic;
    font-size: smaller;
}

li {
    list-style-type:none;
}